/* =======Base sytles======= */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* =======Sections titles (h2)======= */
.mission-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-title,
.portfolio-title {
  text-transform: capitalize;
}
/* =======Sections main objects (h3)======= */
.mission-item,
.team-member,
.portfolio-case {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.navigation-link {
  display: block;
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus,
.contact-info-link:hover,
.contact-info-link:focus {
  color: #404bbf;
}

.navigation-link,
.contact-info-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-link-current {
  position: relative;
  color: #404bbf;
}
.navigation-link-current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-info-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-info-link {
  font-weight: 400;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  background-color: #2e2f42;
  line-height: 1.07;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.hero-order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 32px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-button:hover,
.hero-order-button:focus {
  background-color: #404bbf;
}
.mission {
  padding: 120px 0;
}
.container-mission {
}
.mission-title-visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mission-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.mission-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.mission-item-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.mission-item-card-title {
  margin-bottom: 8px;
}
.mission-item-card-text {
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.container-team {
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-member-info {
  padding: 32px 0;
}
.team-member {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-role {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}
.team-member-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 24px;
}
.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.team-social-link-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding: 120px 0;
}
.container-portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-case-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-case {
  margin-bottom: 8px;
}
.portfolio-case-text {
}
.portfolio-case-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-case-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-case-overlay-text,
.portfolio-list-item:focus .portfolio-case-overlay-text {
  transform: translateY(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.bottom-content {
  background: #2e2f42;
  padding: 100px 0;
}
.container-bottom-content {
  display: flex;
  align-items: baseline;
}
.bottom-content-text-logo {
  margin-right: 120px;
}
.bottom-content-social-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.bottom-content-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.bottom-content-social-item {
  width: 40px;
  height: 40px;
}
.bottom-content-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-content-social-link:hover,
.bottom-content-social-link:focus {
  background-color: #31d0aa;
}
.bottom-content-social-icon {
  fill: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-bottom {
  color: #f4f4fd;
}
.bottom-content-text {
  color: #f4f4fd;
  max-width: 264px;
}
