/* =======Base sytles======= */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* =======Sections titles (h2)======= */
.mission-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-title,
.portfolio-title {
  text-transform: capitalize;
}
/* =======Sections main objects (h3)======= */
.mission-item,
.team-member,
.portfolio-case {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.navigation-link {
  display: block;
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus,
.contact-info-link:hover,
.contact-info-link:focus {
  color: #404bbf;
}

.navigation-link,
.contact-info-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-link-current {
  position: relative;
  color: #404bbf;
}
.navigation-link-current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-info-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-info-link {
  font-weight: 400;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  background-color: #2e2f42;
  line-height: 1.07;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.hero-order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  padding: 16px 32px;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-button:hover,
.hero-order-button:focus {
  background-color: #404bbf;
}
.mission {
  padding: 120px 0;
}
.container-mission {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mission-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.mission-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.mission-item-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.mission-item-card-title {
  margin-bottom: 8px;
}
.mission-item-card-text {
}

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.container-team {
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-member-info {
  padding: 32px 0;
}
.team-member {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-role {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}
.team-member-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 24px;
}
.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.team-social-link-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding: 120px 0;
}
.container-portfolio {
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-case-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-case {
  margin-bottom: 8px;
}
.portfolio-case-text {
}
.portfolio-case-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-case-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-case-overlay-text,
.portfolio-list-item:focus .portfolio-case-overlay-text {
  transform: translateY(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.bottom-content {
  background: #2e2f42;
  padding: 100px 0;
}
.container-bottom-content {
  display: flex;
  align-items: baseline;
}
.bottom-content-text-logo {
  margin-right: 120px;
}
.bottom-content-social-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.bottom-content-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.bottom-content-social-item {
  width: 40px;
  height: 40px;
}
.bottom-content-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-content-social-link:hover,
.bottom-content-social-link:focus {
  background-color: #31d0aa;
}
.bottom-content-social-icon {
  fill: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-bottom {
  color: #f4f4fd;
}
.bottom-content-text {
  color: #f4f4fd;
  max-width: 264px;
}
.bottom-content-subscribe {
  margin-left: 80px;
}
.bottom-content-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.bottom-content-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.bottom-content-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.bottom-content-subscribe-input::placeholder {
  color: #ffffff;
}

.bottom-form-button-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.bottom-form-button-icon {
  margin-left: 16px;
  fill: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay:not(.overlay-active) .overlay-content {
  transform: translate(-50%, -100%);
}
.overlay-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
}
.overlay-close-button:hover,
.overlay-close-button:focus {
  border: none;
  background-color: #404bbf;
}
.overlay-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-close-button:hover .overlay-close-icon,
.overlay-close-button:focus .overlay-close-icon {
  fill: #ffffff;
}
.overlay-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.overlay-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
}
.overlay-form-container-input {
  position: relative;
}
.overlay-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 1px 2px 1px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.overlay-form-input-icon {
  position: absolute;
  left: 16px;
  fill: #2e2f42;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-input:focus {
  border-color: #4d5ae5;
}
.overlay-form-input:focus + .overlay-form-input-icon {
  fill: #4d5ae5;
}
.form-container-message {
  margin-bottom: 16px;
}
.overlay-form-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  background-color: transparent;
  height: 120px;
  padding: 8px 16px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.overlay-form-textarea:focus {
  border-color: #4d5ae5;
}
.overlay-form-container-agreement {
  margin-bottom: 24px;
}
.overlay-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.overlay-form-checkbox-label-additional {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-form-checkbox:checked
  + .overlay-form-checkbox-label
  > .overlay-form-checkbox-label-additional {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.overlay-privacy-link {
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4d5ae5;
}
.overlay-privacy-link:hover,
.overlay-privacy-link:focus {
  color: #404bbf;
}
.overlay-form-button-submit {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-button-submit:hover,
.overlay-form-button-submit:focus {
  background-color: #404bbf;
}
