/* =======Base sytles======= */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
@media screen and (max-width: 1157px) {
  .body {
    font-weight: 400;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======= Logo ======= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo-studio {
  color: #2e2f42;
}
.logo-studio-bottom {
  color: #f4f4fd;
}

/* =======Header======= */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-link:hover,
.navigation-link:focus,
.contact-info-link:hover,
.contact-info-link:focus {
  color: #404bbf;
}

.navigation-link,
.contact-info-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-link {
  font-weight: 500;
  color: #2e2f42;
}

.contact-info {
  display: block;
  gap: 12px;
}
.contact-info-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
}
.header-burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .navigation-list,
  .contact-info-list {
    display: none;
  }
  .header-logo {
    display: block;
    padding: 16px 0;
  }
  .header-burger-button {
    padding: auto 0;
  }
}
@media screen and (min-width: 768px) {
  .header-burger-button,
  .mobile-menu-overlay {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .navigation-link {
    display: block;
    padding: 24px 0;
  }

  .navigation-link-current {
    position: relative;
    color: #404bbf;
  }
  .navigation-link-current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-info-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.mobile-menu-overlay {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 100%;
  background-color: inherit;
  transform: translate(-50%, -50%);
  padding: 72px 0 40px 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0;
  display: flex;
  flex-direction: column;
}
.mobile-menu-overlay:not(.is-open) .mobile-menu-overlay-container {
  transform: translate(100%, -50%);
}
.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
}
.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
  border: none;
  background-color: #404bbf;
}
.menu-navigation {
  margin-bottom: auto;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
}

.menu-navigation-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.menu-navigation-link-current {
  color: #404bbf;
}
.menu-contact-info {
  font-style: normal;

  margin-bottom: 48px;
}
.menu-contact-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.menu-contact-info-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.menu-contact-info-phone {
  color: #4d5ae5;
}
.menu-content-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  flex-shrink: 0;
}
.menu-content-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.menu-content-social-icon {
  fill: #f4f4fd;
}
/* =======Section titles (h2)======= */
.mission-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-title,
.portfolio-title {
  text-transform: capitalize;
}
/* =======Section main objects (h3)======= */
.mission-item,
.team-member,
.portfolio-case {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* =======Hero======= */

.hero {
  background-color: #2e2f42;
  line-height: 1.11;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg/hero-background-desk-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}
@media (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-mob-min.jpg');
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-mob@2x-min.jpg');
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-tab-min.jpg');
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-tab@2x-min.jpg');
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-desk-min.jpg');
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg/hero-background-desk@2x-min.jpg');
  }
}
.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.hero-title {
  font-weight: 700;
  line-height: 1.11111;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}
.hero-order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}

.hero-order-button:hover,
.hero-order-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
  .container-hero {
    gap: 36px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .container-hero {
    gap: 48px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto;
  }
}
/* =======Section Mission======= */
.mission {
  padding: 96px 0;
}
.mission-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.mission-list-item {
  max-width: 288px;
}
.mission-item-card-icon {
  width: 100%;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
}
.mission-item-card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .mission-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }
  .mission-list-item {
    max-width: calc((100% - 24px) / 2);
  }
  .mission-item-card-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .mission {
    padding: 120px 0;
  }
  .mission-list {
    gap: 24px;
    flex-direction: row;
  }
  .mission-item-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
    visibility: visible;
  }

  .mission-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .mission-item-card-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* =======Section Team======= */
.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-member {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-info {
  padding: 32px 0;
}
.team-member-role {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
}
.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
.team-social-link-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .team-list-item {
    max-width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .team-list-item {
    max-width: calc((100% - 72px) / 4);
  }
}
/* =======Section Portfolio======= */
.portfolio {
  padding: 96px 0;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-case-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 48px;
}
.portfolio-list-item {
  width: 100%;
  max-width: 320px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-case-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-case {
  margin-bottom: 8px;
}
.portfolio-case-overlay {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.portfolio-case-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 48px) / 3);
  }
  .portfolio-list-item:hover .portfolio-case-overlay-text,
  .portfolio-list-item:focus .portfolio-case-overlay-text {
    transform: translateY(0);
  }
  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/* =======Footer======= */

.bottom-content {
  background: #2e2f42;
  padding: 96px 0;
}
.container-bottom-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.bottom-content-text-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.bottom-content-text {
  color: #f4f4fd;
  max-width: 288px;
}
.bottom-content-social-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.bottom-content-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.bottom-content-social-item {
  width: 40px;
  height: 40px;
}
.bottom-content-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-content-social-link:hover,
.bottom-content-social-link:focus {
  background-color: #31d0aa;
}
.bottom-content-social-icon {
  fill: #f4f4fd;
}
.logo-studio-bottom {
  color: #f4f4fd;
}
.bottom-content-text {
  color: #f4f4fd;
}

.bottom-content-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.bottom-content-subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.bottom-content-subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  border-radius: 4px;
  color: #ffffff;
}
.bottom-content-subscribe-input::placeholder {
  color: #ffffff;
}
.bottom-form-button-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.bottom-form-button-icon {
  margin-left: 16px;
  fill: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-bottom-content {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0 auto;
  }
  .bottom-content-text {
    max-width: 264px;
  }

  .bottom-content-text-logo {
    align-items: flex-start;
  }
  .bottom-content-social-text {
    text-align: start;
  }
  .bottom-content-subscribe-text {
    text-align: start;
  }
  .bottom-content-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .bottom-content-subscribe-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .bottom-content {
    padding: 100px 0;
  }
  .container-bottom-content {
    flex-direction: row;
    align-items: baseline;
    gap: 0;
    margin: 0 auto;
  }
  .bottom-content-text-logo {
    max-width: 264px;
    align-items: flex-start;
    margin-right: 120px;
    padding: 0;
  }
  .bottom-content-social-text {
    text-align: start;
  }
  .bottom-content-social {
    margin-right: 80px;
  }
  .bottom-content-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .bottom-content-subscribe-text {
    text-align: start;
  }
  .bottom-content-subscribe-input {
    width: 264px;
    opacity: 1;
  }
}
/* overlay form */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  overflow-y: auto;
  z-index: 999;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.overlay:not(.is-open) .overlay-content {
  transform: translate(-50%, -100%);
}
.overlay-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
}
.overlay-close-button:hover,
.overlay-close-button:focus {
  border: none;
  background-color: #404bbf;
}
.overlay-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-close-button:hover .overlay-close-icon,
.overlay-close-button:focus .overlay-close-icon {
  fill: #ffffff;
}
.overlay-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-container {
  line-height: 0;
  margin-bottom: 8px;
}
.overlay-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
}
.overlay-form-container-input {
  position: relative;
}
.overlay-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 1px 2px 1px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.overlay-form-input-icon {
  position: absolute;
  left: 16px;
  fill: #2e2f42;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-input:focus {
  border-color: #4d5ae5;
}
.overlay-form-input:focus + .overlay-form-input-icon {
  fill: #4d5ae5;
}
.form-container-message {
  margin-bottom: 16px;
}
.overlay-form-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
  background-color: transparent;
  height: 120px;
  padding: 8px 16px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.overlay-form-textarea:focus {
  border-color: #4d5ae5;
}
.overlay-form-container-agreement {
  max-width: 100%;
  margin-bottom: 24px;
}
.overlay-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.overlay-form-checkbox-label-additional {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.overlay-form-checkbox:checked
  + .overlay-form-checkbox-label
  > .overlay-form-checkbox-label-additional {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.overlay-privacy-link {
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #4d5ae5;
}
.overlay-privacy-link:hover,
.overlay-privacy-link:focus {
  color: #404bbf;
}
.overlay-form-button-submit {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-form-button-submit:hover,
.overlay-form-button-submit:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .overlay-content {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
