body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
ul {
  list-style: none;
}

.navigation > ul a {
  font-weight: 500;
  color: #2e2f42;
}

.contact-info a {
  font-weight: 400;
  color: #434455;
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-web {
  color: #4d5ae5;
}
.logo-studio-top {
  color: #2e2f42;
}
.logo-studio-bot {
  color: #f4f4fd;
}

.hero {
  background-color: #2e2f42;
}
.hero > h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero > button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.mission h2 {
  display: none;
}
.team h2,
.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.mission h3,
.team h3,
.portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team {
  background: #f4f4fd;
}
.team > ul > li {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio > ul > li {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
}
footer {
  background: #2e2f42;
}
footer > p {
  color: #f4f4fd;
}
